.page-body{
    min-height: 650px;
}

footer{
  background-color: #000000;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 6px;
  p {
      display: inline-block;
  }
  .footer-link{
      float: right;
      a{
          margin-left: 20px;
          color:white;
      }
  }
}