/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
 @import "bootstrap";
 @import "social-share-button";
 /*@import "bootstrap-responsive";*/
html body {
		background-color: #FAFAFA;
		font-family: 'Roboto', sans-serif;
	}
.page-body{
    min-height: 650px;
}
.rated{
 color:#fffa00;
}
.homepage-info{
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 0px;
 padding-left: 20px;
 display:inline-block;
 li{
  display:block;
 }
}
 footer{
  background-color: #000000;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 6px;
  p {
      display: inline-block;
  }
  .footer-link{
      float: right;
      a{
          margin-left: 20px;
          color:white;
      }
  }
} 

/*flash*/
.alert-error {
    margin-top: 10px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    margin-top: 10px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    margin-top: 10px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    margin-top: 10px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
 $size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}